<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="jp">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
    <title>APIサンプル 顧客一覧</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">API サンプル</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/logout}" href="/logout">ログアウト</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <H1>顧客一覧</H1>
	<table class="table table-striped table-bordered table-condensed">
	    <thead>
	    <tr>
	        <td>ID</td>
	        <td>姓</td>
	        <td>名</td>
	    </tr>
	    </thead>
	    <tbody>
	    <tr th:each="customer : ${customers}">
	        <td th:text="${customer.id}">1</td>
	        <td th:text="${customer.lastName}">yamada</td>
	        <td th:text="${customer.firstName}">kohji</td>
	    </tr>
	    </tbody>
	</table>
</div>
</body>
</html>